

@import url('https://fonts.cdnfonts.com/css/manrope');

*{
    margin: 0;
    padding: 0;
    font-family: manrope;
}

a{
    text-decoration: none;
}

p{
    font-size: 17px;
}

h1{
    font-size: 55px;
    line-height: 70px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
    color: rgb(66, 66, 66);
}

h4{
    font-size: 20px;
    margin-bottom: 10px;
}


.nav{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: rgb(122, 122, 122) 0px 3px 3px;
}

.navbar{
    width: 85%;
    display: flex;
    align-items: center;
}

.logo-div{
    width: 15%;
}
.logo-div img{
    width: 85%;
}

.mid-nav{
    width: 85%;
    display: flex;
    align-items: center;
}

ul.nav-items{
    width: 65%;
    display: flex;
    list-style-type: none;
}

a.nav-item{
    width: 20%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    transition: all ease-in-out .1s;
}

a.nav-item, a.btn{
    font-weight: 600;
    font-size: 15px;
}

a.active, a.nav-item:hover{
    color: rgb(0, 67, 99);
}

a.nav-item>svg{
    margin-left: 15px;
}

.nav-btn{
    width: 35%;
    }

.nav-btn>.btn{
    float: right;
    }

.btn{
    width: 250px;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    transition: all ease-in-out .3s;
}

.btn>svg{
    margin-left: 15px;
}

.btn-fill{
    background-color: #6FC247;
    color: white;
}

.btn-fill:hover{
    background-color: #60a73c;
    transition: all ease-in-out .1s;
}

.btn-outline{
    color: rgb(24, 24, 24);
    border: 1px solid #6FC247;
}

.btn-outline:hover{
    border: none;
    background-color: #6FC247;
    color: white;
    transition: all ease-in-out .1s;
}

.header{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: rgb(66, 66, 66);
}

p#head{
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 35px;
}
.header-btns{
    display: flex;
    justify-content: center;
    width: 550px;
    margin: 0px auto;
}

.header-btns>.btn{
    margin: 0px auto;
}

#center-image{
    width: 80vw;
    margin: 50px auto;
    display: block;
    margin-bottom: 80px;
}

.sec{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.brand-icons{
    width: 85%;
    margin: 50px auto;
}

.row{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 25%;
}

.bg-dark{
    background-color: #1a1a1a;
    color: white;
    padding: 8% 6%;
}

.bg-dark-header{
    width: 70%;
    margin-bottom: 50px;
}

.min-container{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
}

.min-container2{
    width: 85%;
    margin: 50px auto;
    display: flex;
}

.left-section{
    width: 40%;
    padding:0px 40px;
}

.min-container-inner{
    width: 85%;
    margin: 0px auto;
}

.card2{
    width: 100%;
    margin: 70px auto;
}


.right-section{
    width: 60%;
}

.right-section>img{
    width: 100%;
}

.footer-btn{
    margin: 0px auto;
    width: fit-content;
    margin-bottom: 100px;
}
.menu, .close-menu{
    display: none;
}








@media screen and (min-width:1081px) {
*{
    margin: 0;
    padding: 0;
    font-family: manrope;
}

a{
    text-decoration: none;
}

p{
    font-size: 17px;
}

h1{
    font-size: 55px;
    line-height: 70px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
    color: rgb(66, 66, 66);
}

h4{
    font-size: 20px;
    margin-bottom: 10px;
}


.nav{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: rgb(122, 122, 122) 0px 3px 3px;
}

.navbar{
    width: 85%;
    display: flex;
    align-items: center;
}

.logo-div{
    width: 15%;
}
.logo-div img{
    width: 85%;
}

.mid-nav{
    width: 85%;
    display: flex;
    align-items: center;
}

ul.nav-items{
    width: 65%;
    display: flex;
    list-style-type: none;
}

a.nav-item{
    width: 20%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    transition: all ease-in-out .1s;
}

a.nav-item, a.btn{
    font-weight: 600;
    font-size: 15px;
}

a.active, a.nav-item:hover{
    color: rgb(0, 67, 99);
}

a.nav-item>svg{
    margin-left: 15px;
}

.nav-btn{
    width: 35%;
    }

.nav-btn>.btn{
    float: right;
    }

.btn{
    width: 250px;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    transition: all ease-in-out .3s;
}

.btn>svg{
    margin-left: 15px;
}

.btn-fill{
    background-color: #6FC247;
    color: white;
}

.btn-fill:hover{
    background-color: #60a73c;
    transition: all ease-in-out .1s;
}

.btn-outline{
    color: rgb(24, 24, 24);
    border: 1px solid #6FC247;
}

.btn-outline:hover{
    border: none;
    background-color: #6FC247;
    color: white;
    transition: all ease-in-out .1s;
}

.header{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: rgb(66, 66, 66);
}

p#head{
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 35px;
}
.header-btns{
    display: flex;
    justify-content: center;
    width: 550px;
    margin: 0px auto;
}

.header-btns>.btn{
    margin: 0px auto;
}

#center-image{
    width: 80vw;
    margin: 50px auto;
    display: block;
    margin-bottom: 80px;
}

.sec{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.brand-icons{
    width: 85%;
    margin: 50px auto;
}

.row{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 25%;
}

.bg-dark{
    background-color: #1a1a1a;
    color: white;
    padding: 8% 6%;
}

.bg-dark-header{
    width: 70%;
    margin-bottom: 50px;
}

.min-container{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
}

.min-container2{
    width: 85%;
    margin: 50px auto;
    display: flex;
}

.left-section{
    width: 40%;
    padding:0px 40px;
}

.min-container-inner{
    width: 85%;
    margin: 0px auto;
}

.card2{
    width: 100%;
    margin: 70px auto;
}


.right-section{
    width: 60%;
}

.right-section>img{
    width: 100%;
}

.footer-btn{
    margin: 0px auto;
    width: fit-content;
    margin-bottom: 100px;
}
.menu, .close-menu{
    display: none;
}

}
















@media screen and (max-width:1080px) {
    h1{
        font-size: 45px;
        line-height: 45px;
    }
    
    h2{
        font-size: 32px;
    }
    
    h3{
        font-size: 22px;
        color: rgb(66, 66, 66);
    }
    
    h4{
        font-size: 15px;
        margin-bottom: 10px;
    }

    p{
        font-size: 12px;
    }

    .nav{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        box-shadow: rgb(122, 122, 122) 0px 3px 3px;
        width: 100vw;
    }
    
    .navbar{
        width: 90%;
        display: flex;
        align-items: center;
    }
    
    .logo-div{
        width: 15%;
    }
    .logo-div img{
        width: 85%;
    }

    .mid-nav{
        width: 85%;
        display: flex;
        align-items: center;
    }
    
    ul.nav-items{
        width: 65%;
        display: flex;
        list-style-type: none;
    }
    
    a.nav-item{
        width: 20%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(24, 24, 24);
        transition: all ease-in-out .1s;
    }
    
    a.nav-item, a.btn{
        font-weight: 600;
        font-size: 10px;
    }
    
    a.active, a.nav-item:hover{
        color: rgb(0, 67, 99);
    }
    
    a.nav-item>svg{
        margin-left: 5px;
    }
    
    .nav-btn{
        width: 35%;
        }
    
    .nav-btn>.btn{
        float: right;
        }
    
    .btn{
        width: fit-content;
        padding: 1px 20px;
        height: 35px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 8px;
        transition: all ease-in-out .3s;
    }
    
    .btn>svg, .btn>span{
        margin: 0px auto;
    }
    
    .btn-fill{
        background-color: #6FC247;
        color: white;
    }
    
    .btn-fill:hover{
        background-color: #60a73c;
        transition: all ease-in-out .1s;
    }
    
    .btn-outline{
        color: rgb(24, 24, 24);
        border: 1px solid #6FC247;
    }
    
    .btn-outline:hover{
        border: none;
        background-color: #6FC247;
        color: white;
        transition: all ease-in-out .1s;
    }




.brand-icons{
    width: 95%;
    margin: 50px auto;
}

.row{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.col>img{
    width: auto;
    height: 50px;
    
}



    .min-container2{
        width: 70%;
        margin: 50px auto;
        display: block;
    }
    
    .left-section{
        max-width: 100%;
        width: 85%;
        text-align: center;
    }
    
    .min-container-inner{
        width: 70%;
        margin: 0px auto;
    }
    
    .card2{
        width: 100%;
        margin: 40px auto;
    }
    
    
    .right-section{
        width: 100%;
    }
    
    .right-section>img{
        width: 100%;
        height: auto;
    }
    
    .footer-btn{
        margin: 0px auto;
        width: fit-content;
        margin-bottom: 100px;
    }
    .menu, .close-menu{
        display: none;
    }
    

}
















@media screen and (max-width:680px) {
    .menu, .close-menu{
        display: block;
        cursor: pointer;
        float: right;
    }
    .close-menu{
        margin-right: 20px;
        height: 25px;
    }
    .menu:hover svg{
        fill: rgba(0, 0, 0, 0.652);
    }

    body{
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
    h1{
        font-size: 25px;
        line-height: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
        color: rgb(66, 66, 66);
    }
    
    h4{
        font-size: 12px;
        margin-bottom: 10px;
    }

    p{
        font-size: 9px;
    }

    .nav{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        box-shadow: rgb(122, 122, 122) 0px 3px 3px;
        width: 100vw;
    }
    
    .navbar{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-div{
        width: 15%;
    }
    .logo-div img{
        width: 85%;
    }

    .mid-nav{
        display: none;
        width: 100vw;
        position: absolute;
        margin-bottom: 100px;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(4, 10, 0);
    }
    
    ul.nav-items{
        width: 100%;
        display: block;
        list-style-type: none;
    }
    
    a.nav-item{
        width: 100%;
        padding: 5px 0px;
        margin: 2px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(135, 135, 135);
        transition: all ease-in-out .1s;
    }
    a.nav-item svg{
        display: none;
    }
    
    a.nav-item, a.btn{
        font-weight: 600;
        font-size: 8px;
    }

    a.active, a.nav-item:hover{
        background-color: rgb(44, 44, 44);
        color: rgb(255, 255, 255);
    }
    
    a.btn>svg{
        width: 12px;
        margin-left: 5px;
    }
    
    .nav-btn{
        width: 100%;
        justify-content: center;
        display: flex;
        }
    
    .nav-btn>.btn{
        float: right;
        }
    
    .btn{
        width: fit-content;
        padding: 1px 20px;
        height: 35px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 8px;
        transition: all ease-in-out .3s;
    }
    
    .btn>svg, .btn>span{
        margin: 0px auto;
    }
    
    .btn-fill{
        background-color: #6FC247;
        color: white;
    }
    
    .btn-fill:hover{
        background-color: #60a73c;
        transition: all ease-in-out .1s;
    }
    
    .btn-outline{
        color: rgb(24, 24, 24);
        border: 1px solid #6FC247;
    }
    
    .btn-outline:hover{
        border: none;
        background-color: #6FC247;
        color: white;
        transition: all ease-in-out .1s;
    }



    .header{
        width: 85%;
        margin: 0px auto;
        text-align: center;
        color: rgb(66, 66, 66);
    }
    
    p#head{
        font-size: 12px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 35px;
    }
    .header-btns{
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0px auto;
    }
    
    .header-btns>.btn{
        margin: 0px auto;
    }
    
    #center-image{
        width: 90vw;
        margin: 50px auto;
        display: block;
        margin-bottom: 40px;
    }
    
    .sec{
        width: 80%;
        margin: 50px auto;
        text-align: center;
    }




.brand-icons{
    width: 95%;
    margin: 50px auto;
}

.row{
    margin: 10px auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.col{
    margin: 0px auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.col>img{
    width: 200px;
    height: auto;
    
}



    .min-container2{
        width: 100%;
        margin: 50px auto;
        display: block;
    }
    
    .left-section{
        max-width: 100%;
        width: 85%;
        text-align: center;
    }
    
    .min-container-inner{
        width: 70%;
        margin: 0px auto;
    }
    
    .card2{
        width: 100%;
        margin: 30px auto;
    }
    
    
    .right-section{
        width: 100%;
    }
    
    .right-section>img{
        width: 100%;
        height: auto;
    }
    
    .footer-btn{
        margin: 0px auto;
        width: fit-content;
        margin-bottom: 100px;
    }
    

}

  
